html , body {
	background: #fff;
	color: #fff;
	font: 14px sans-serif;
	padding: 0;
}

#viewport {
	border: solid 1px #D2355F;
	height: 480px;
	margin: auto;
	width: 720px;
	z-index: 100;
	background: #000;
}

#lobby-container {
	display: flex;
	flex-direction: column;
	width: 800px;
}

.entry {
	display: flex;
	width: 800px;
}

.quit-wrapper {
	width: 60px;
	height: 40px;
	background-color: #D2355F;
	display: flex;
	justify-content: center;
}

.generic-item {
	color: #fff;
	font-size: 18px;
	padding: 10px 24px 10px 24px;
	border: none;
	flex: 1;
}

.generic-input {
	color: #FFFFFF;
	background: #006871;
	border-bottom: solid 1px #000;
}

.generic-button {
	background: #D2355F;
}

.generic-label {
	background: #000;
}

.color-picker {
	background: #000;
	height: 43px;
	padding: 0 2px 0 2px;
}

#name {
	margin-bottom: 80px;
}

.or-breaker {
	font-size: 30px;
	color: #000;
	margin: 30px;
	text-align: center;
}

.generic-lobby-entry {
	display: flex;
	margin-top: 1px;
}

.big-generic {
	flex: 2;
}

.title {
	color: #000;
	font-size: 40px;
	margin-bottom: 30px;
	text-align: center;
	width: 800px;
}