<div id="name" ng-controller="NameController">
    <div class="entry">
        <div class="generic-label generic-item">Player Name</div>
        <input class="generic-item generic-input" type="text" ng-model="playerName" placeholder="Enter a name here">
        <div class="generic-item generic-label">Color</div>
        <input class="generic-item color-picker" type="color" ng-model="playerColor" value="#ffffff">
        <button class="generic-button generic-item" ng-click="changeName()">Update</button>
    </div>
</div>



<div id="lobby-container" ng-controller="LobbyController" ng-init="getGamesList()">
    <div class="entry">
        <div class="generic-label generic-item">Game name</div>
        <input class="generic-item generic-input big-generic" type="text" ng-model="gameName">
    </div>
    <div class="entry">
        <div class="generic-label generic-item">Number of players</div>
        <input class="generic-item generic-input big-generic" type="number" min="1" step="1" ng-model="gameNumPlayers">
    </div>

    <button class="generic-item generic-button" ng-click="createGame()">Create</button>

    <div class="or-breaker"> OR </div>
    <div class="generic-lobby-entry" ng-repeat="game in games">
        <div class="generic-item generic-label big-generic">{{game.id}} : {{game.currentPlayers}}/{{game.maxPlayers}}</div>
        <button class="generic-item generic-button" ng-click="joinGame(game)">Join</button>
    </div>
</div>
